body {
    font-family: Arial;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    text-align: center;
}

.login-box, .container {
    background: white;
    color: black;
    padding: 20px;
    margin: 50px auto;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

button {
    background: #2575fc;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #6a11cb;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    background: white;
    color: black;
}

th, td {
    padding: 10px;
    border: 1px solid gray;
}